:root {
    /*colors*/
        --primary-color: #0065FC;
        --secondary-color: #DEEBFF;
        --background-color: #F2F2F2;
        --shadow-color: #dddcdcab;
    /*padding*/
        --body-padding: 100px;
    /*fontsize*/
        --H1H2Size: 22px;
        --H3P1Size: 16px;
        --P2Size: 18px;
        --P3Size: 14px;
}

body {
    font-family: 'Raleway', sans-serif;
}

/*HEADER*/
nav {
    font-size: var(--H3P1Size);
    color: black;
}

h1 h2 {
    font-size: var(--H1H2Size);
    font-weight: bold 600;
}

h3 {
    font-size: var(--H3P1Size);
    color: black;
}

strong, .stars {
    color: var(--primary-color);
}

.p1 {
    font-size: var(--H3P1Size);
}

.search {
    font-size: var(--P2Size);
}

.search_button p {
    color: white;
}

.filters_container {
    font-size: var(--P2Size);
}

.cardH p {
    font-size: var(--P3Size);
}

.cardP_text p {
    font-size: var(--P3Size);
}
