:root {
    /*colors*/
        --primary-color: #0065FC;
        --secondary-color: #DEEBFF;
        --background-color: #F2F2F2;
        --shadow-color: #dddcdcab;
    /*padding*/
        --body-padding: 100px;
    /*fontsize*/
        --H1H2Size: 15px;
        --H3P1Size: 11px;
        --P2Size: 12px;
        --P3Size: 10px;
}

body {
    font-family: 'Raleway', sans-serif;
}

/*HEADER*/
nav {
    font-size: var(--H3P1Size);
    color: black;
}

h1, h2 {
    font-size: var(--H1H2Size);
    font-weight: bold 600;
}

h3 {
    font-size: var(--H3P1Size);
    color: black;
}

.stars {
    color: var(--primary-color);
}

#star_gray {
    color: #D9D9D9;
}
strong {
    color: black;
}

.p1 {
    font-size: var(--H3P1Size);
}

.search {
    font-size: var(--P2Size);
}

.search_button p {
    color: white;
}

.filters_container {
    font-size: var(--P2Size);
}

.filters_part p {
    font-weight: bold;
    font-size: var(--P2Size);
}

.i_logo i{
    color: var(--primary-color);
}

.i p {
    font-size: var(--H3P1Size);
}

.cardH_text p {
    font-size: var(--P3Size);
}

.cardH_more {
    color: black;
    font-size: var(--H3P1Size)
}

.cardP_text p {
    font-size: var(--P3Size);
}

footer p {
    font-size: var(--P2Size);
    font-weight: bold;
}

footer a {
    font-size: var(--H3P1Size);
    color: black;
}

 