* {
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container {
    max-width: 992px;
    max-height: 100%;
    padding-left: 35px;
    padding-right: 35px;
}


/*HEADER*/
header {
    height: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 22px 19px 34px 14px;
}

header img {
    width: 66px;
    height: auto;
}

nav ul{
    width: 166px;
    display: flex;
    justify-content: space-between;
}

#ancre_hebergements a, #ancre_activites:hover > a {
    color: var(--primary-color);
}


/*INFORMATIONS*/
.informations {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.informations h1 {
    margin-bottom: 12px;
}

/*SEARCH*/
.search {
    height: 69px;
    display: flex;
    padding-top: 14px;
    padding-bottom: 22px;
}

form {
    width: 289px;
    height: 35px;
    display: flex;
}

.location {
    width: 12%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--background-color);
    border-radius: 10px 0px 0px 10px;
}

input {
    width: 55%;
    height: 100%; 
    display: flex;
    align-items: center;
    justify-content: start ;
    background-color: white;
    border: none;
    border-top: 2px solid;
    border-bottom: 2px solid;
    border-color: var(--background-color);
    padding: 0 12px;
}

button {
    width: 30%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--primary-color);
    color: white;
    border-radius: 0 10px 10px 0;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #0755ca;
    box-shadow: var(--shadow-color) 0 0 10px 0;
}


/*FILTRES*/
.filters_part {
    display: flex;
    align-items: center;
}

.filters_part p {
    padding: 0px 13px 0px 7px;
}

.filters_container {
    max-width: 100%;
    display: flex;
    justify-content: space-between;
}

.filters {
    width: auto;
    height: 34px;
    display: flex;
    align-items: center;
    border: 2px solid;
    border-left: none;
    border-color: var(--background-color);
    border-radius: 30px;
    margin-right: 17px;
}

.filters:hover {
    background-color: var(--secondary-color);
    cursor: pointer;
}

.filters:hover > .filters_logo {
    background-color: white;
    border: 2px solid;
    border-color: var(--background-color);
}



.filters_logo {
    width: 34px;
    height: 34px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--secondary-color);
    border-radius: 20px;
    z-index: 1;
}

.filters_logo i {
    color: var(--primary-color);
}


/*i*/
.i {
    height: 67px; 
    display: flex;
    align-items: center;
}

.i_content {
    display: flex;
}

.i_logo {
    width: 16px;
    height: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1.5px solid;
    border-color: var(--background-color);
    border-radius: 30px;
}

.i p {
    margin-left: 9px;
}


/*MAIN*/
main {
    display: flex;
}

/*HEBERGEMENTS*/
.H_section {
    padding-right: 3%;
}

.H_container {
    background-color: var(--background-color);
    border-radius: 15px;
    padding: 32px 27px;
}

.H_container h2 {
    margin-bottom: 16px;
}

.cardH_container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.cardH {
    width: 170px;
    height: 137px;
    display: flex;
    flex-direction: column;
    background-color: white;
    border-radius: 12px;
    box-shadow: var(--shadow-color) 0 0 15px;
    margin-bottom: 21px;
    padding: 4px;
}

.cardH:hover {
    transform: scale(1.02);
}

.cardH a {
    width: 100%;
    height: 100%;
    text-decoration: none;
}

.cardH_img {
    width: 100%;
    height: 60.4%;
}

.cardH img {
    width: 100%;
    height: 100%;
    border-radius: 9px 9px 0 0;
    object-fit: cover;
}

.cardH_text {
    height: 39.6%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 7px 7px 3px 7px;
}

.cardH_more {
    margin-top: 9px;
}

.cardH_more a {
    text-decoration: none;
}

.stars {
    height: 8px;
    display: flex;
    align-items: center;
}

.star {
    font-size: 8px;
    margin-right: 1.5px;
}

/*POPULAR*/
.P_container {
    width: 100%;
    height: 100%;
    background-color: var(--background-color);
    border-radius: 15px;
    padding: 32px 25px 0px 25px;
}

.P_container_title {
    display: flex; 
    justify-content: space-between;
}

.P_container_title h2 {
    margin-bottom: 18px;
}

.cardP_container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.cardP {
    width: 236px;
    height: 100px;
    background-color: white;
    border-radius: 15px;
    box-shadow: var(--shadow-color) 0 0 15px;
    margin-bottom: 22px;
    padding: 5px;
 }

 .cardP:hover {
    transform: scale(1.02);
}

 .cardP a {
    width: 100%;
    height: 100%;
    display: flex;
    text-decoration: none;
 }

 .cardP_img {
    width: 38%;
 }

 .cardP img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 9px 0 0 9px;
 }

 .cardP_text {
    width: 68%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 14px 2px 10px 20px;
 }

 .cardP_text_infos p {
    margin-top: 5%;
 }


/*ACTIVITIES*/
.A_container {
    padding-bottom: 42px;
}

.A_container h2 {
    margin-top: 45px;
    margin-bottom: 19px;
}

.cardA_container {
    display: flex;
    justify-content: space-between;
}

.cardA_H:hover, .cardA_W:hover, .cardA_mini:hover {
    transform: scale(1.02);
}

.cardA_H a, .cardA_W a, .cardA_mini a {
    text-decoration: none;
}

.cardA_H {
    width: 208px;
    height: 306px;
    background-color: white;
    border-radius: 15px;
    box-shadow: var(--shadow-color) 0 0 15px;
}

.cardA_H_img {
    width: 100%;
    height: 87.5%;
}

.cardA_H img, .cardA_W img, .cardA_mini img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 15px 15px 0 0;
}

.cardA_H_text {
    height: 12.5%;
    display: flex;
    align-items: center;
    padding-left: 18px;
}

.cardA_column {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.cardA_W {
    width: 208px;
    height: 162px;
    background-color: white;
    border-radius: 20px;
    box-shadow: var(--shadow-color) 0 0 15px;
}

.cardA_W_img {
    width: 100%;
    height: 76.5%;
}

.cardA_W_text {
    height: 23.5%;
    display: flex;
    align-items: center;
    padding-left: 18px;
}

.cardA_mini {
    width: 208px;
    height: 114px;
    background-color: white;
    border-radius: 20px;
    box-shadow: var(--shadow-color) 0 0 15px;
}

.cardA_mini_img {
    width: 100%;
    height: 66%;
}

.cardA_mini_text {
    height: 34%;
    display: flex;
    align-items: center;
    padding-left: 18px;
}

/*FOOTER*/

footer {
    width: 100%;
    height: 100%;
    background-color: var(--background-color);
}

.footer_container {
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 34px 0 24px 35px;    
}

.footer_category {
    width: 158px; 
    margin-right: 157px;
}

footer p {
    margin-bottom: 16px;
}

footer li {
    margin-bottom: 14px;
}

