* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container {
    max-width: 992px;
    max-height: 100%;
    background-color: aqua;
}

/*HEADER*/
header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 113px;
    padding: 16px;
}

header img {
    width: 95.5px;
    height: auto;
}
nav ul{
    display: flex;
    justify-content: space-between;
    list-style: none;
    width: 246px;
}

/*INFORMATIONS*/

form {
    display: flex;
    width: 428px;
    height: 54px;
}

.location {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 15%;
    height: 100%;
    background-color: var(--background-color);
    border-radius: 20px 0px 0px 20px;
}

.search_bar {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;
    height: 100%;
    background-color: white;
}

input {
    border: none;
}

.search_button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 35%;
    height: 100%;
    background-color: var(--primary-color);
    border-radius: 0px 20px 20px 0px;
}

/*FILTRES*/

.filters_container {
    display: flex;
    align-items: center;
}

.filters {
    display: flex;
    align-items: center;
    width: 195px;
    height: 50px;
    border: 2px solid;
    border-color: var(--background-color);
    border-radius: 30px;
}

.filters_logo {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 25%;
    height: 100%;
    background-color: var(--secondary-color);
    border-radius: 50px;

}

.filters_logo i {
    color: var(--primary-color);
}

.filters_text {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 75%;

}

/*MAIN*/

main {

}

/*HEBERGEMENTS*/

.H_section {
    max-width: 67%;
    height: auto;
    margin-right: 3%;
}

.H_container {
    background-color: var(--background-color);
    border-radius: 20px;
    padding: 48px;
    
}

.cardH_container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

}
.cardH {
    display: flex;
    flex-direction: column;
    max-width: 27.7%;
    padding: 5px;
    background-color: white;
    border-radius: 20px;
}

.cardH img {
    width: 100%;
    border-radius: 15px 15px 0 0;
}

.cardH_text {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 12px 0px 12px 17px;
}

.cardH_text div i {
    max-width: 10px;
    height: auto;
}

/*POPULAR*/

aside {
    max-width: 30%;
}

.P_container {
    background-color: var(--background-color);

}

.cardP {
    width: 100%;
}

article img {
    object-fit: cover;
}

/*FOOTER*/
footer {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
}


