@media (max-width: 768px) {

.container {
    padding: 0;
}


/*INFORMATIONS SEARCH FILTRES FILTERS_PART I*/
.informations, .search, .filters_part, .i {
    padding-left: 16px;
    padding-right: 16px;
}

/*FILTERS*/
.filters_container {
    display: flex;
    flex-wrap: wrap;
    justify-content: start;
    
}
.filters {
    margin-right: 2%;
}

/*SEARCH*/
.search {
    height: 100px;
    padding-top: 30px;
    padding-bottom: 30px;
}

form {
    width: 100%;
    height: 40px;
}

.location,  .search_button{
    width: 15.3%;
}

.search_bar {
    width: 84.7%;
}


/*i*/
.i {
    height: 77px; 
}

/*MAIN*/
aside {
    margin-bottom: 0%;
}


/*HEBERGEMENTS*/
.H_section {
    width: 100%;
    padding-right: 0%;
}

.H_container {
    background-color: white;
    border-radius: 0px;
    padding: 32px 16px;
}

.cardH_container {
    display: block;
}

.cardH {
    width: 100%;
    height: 156px;
    margin-bottom: 8px;
}

.cardH_more {
    margin-top: 20px;
}

/*POPULAR*/
aside {
    width: 100%;
}

.P_container {
    border-radius: 0px;
    padding: 32px 9px 0px 9px;
}

.cardP_container {
    flex-direction: column;
}

.cardP {
    width: 100%;
    height: 32%;
    margin-bottom: 8px;
 }

 .cardP_text_infos p {
    margin-top: 15%;
 }

 /*ACTIVITES*/
 .A_container {
    margin-left: 16px;
    margin-right: 16px;
}

.cardA_column {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.cardA_H, .cardA_W, .cardA_mini {
    width: 100%;
    height: 152px;
    margin-bottom: 8px;
}

/*FOOTER*/
.footer_container {
    display: block;
    padding-left: 39%;
}

.footer_category {
    width: 100%;
    margin-bottom: 37px;
}

footer p {
    margin-bottom: 18px;
}

footer li {
    margin-bottom: ;
}


}



