@media (max-width: 992px) {

    .container {
    max-width: 100%;
}

/*HEADER*/
header {
    display: flex;
    flex-direction: column;
}

header img {
    width: 78px;
    height: auto;
    margin-bottom: 20px;
}

nav {
    width: 100%;
}

nav ul {
    width: 100%;
    justify-content: space-around;
    border-bottom: 2px solid;
    border-color: var(--background-color);
}

nav li {
    width: 150px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}


/*FILTRES*/
.filters_part {
    flex-wrap: wrap;
}

.filters_container {
    flex-wrap: wrap;
    padding-top: 15px;
}

.filters {
    height: 40px;
    margin-bottom: 11px;
    
}


/*ACTIVITIES*/
.cardA_container {
    display: flex;
    flex-wrap: wrap;
}

.cardA_column {
    display: flex;    
}




}